aiocache
aiofiles
aiohttp
alembic
celery
click
fastapi[standard]
flower
fuzzywuzzy
google-generativeai
loguru
ocrmypdf
pydantic
pymupdf
pytest
python-Levenshtein
python-multipart
redis
requests
sh
sqlmodel
tenacity
unidecode
